body {
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
/*Cabeçalho do Portfólio*/
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Animação de letra (tentar fazer estilo cmd)*/
.animacao_portfolio {
    font-size: 24px;
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0); 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .35em; 
    animation: typing 3s steps(20, end), blink-caret .75s step-end infinite;
}
  
/* Animação de digitação */
@keyframes typing {
    from { width: 0 }
    to { width: 20% }
}
  
/* Animação de piscar do cursor */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
}
/*Paragráfos sobre mim*/
.texto_introdutorio{
    font-size: medium;
}
/*Destacamento das tecnológias*/
.highlight {
    color: #29ff04;
}
/*Imagem do wpp */
.image_wpp{
    width: 5px;
    height: 5px;
}