{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio IAGO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'icon/favicon-32x32.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="cabecalho">
            <h1 id="portfolio"></h1>
        </div>
    </header>
    
    <section id="area_conhecimento">
        <div class="terminal">
            <h1>Bem-vindo ao Portfólio de Iago Longen</h1>
            <h2>Desenvolvedor Backend</h2>
            <p>Portfolio Version [0.1]</p>
            <p>(c) IAGO LONGEN Todos os direitos reservados.</p>
            <div>
            {% csrf_token %}
            <span>C:\Users\Visitante></span>
            <form method="post">                
                <input type="text" name="name_user" id="name_user">
                <input type="number" name="idade_user" id="idade_user">
                <input type="number" name="peso_user" id="peso_user">
                <input type="number" name="altura_user" id="altura_user">
                <input type="submit" value="enviar">
            </form>
            </div>
            <p></p>
            Contatos: 
            <img src="https://cdn-icons-png.flaticon.com/256/174/174879.png" alt="" class="image_wpp">(47) 9 8807-1571
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </section>
</body>
</html>

