{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio IAGO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Importa o arquivo CSS externo para estilizar a página -->
    <link rel="shortcut icon" href="{% static 'icon/favicon-32x32.png' %}" type="image/x-icon"> <!-- Define o ícone da página exibido na guia do navegador -->
</head>
<body>
    <header>
        <div class="cabecalho">
            <h1 id="portfolio"></h1> <!-- Título principal, será preenchido dinamicamente (Javascript) -->
        </div>
    </header>
    
    <section id="area_conhecimento"><!-- Início da seção de área de conhecimento -->
        <div class="terminal">
            <h1>Bem-vindo ao Portfólio de Iago Longen</h1>
            <h2>Desenvolvedor Backend</h2>
            <p>Portfolio Version [0.1]</p>
            <p>(c) IAGO LONGEN Todos os direitos reservados.</p>
            <p>A lista de comando que pode ser usados:</p>
            <p id="texto_python"></p><!-- (Javascript) Espaço para texto relacionado ao Python -->
            <p id="texto_wpp"></p><!-- (Javascript) Espaço para texto relacionado ao Wpp -->
            <p id="texto_linkedin"></p><!-- (Javascript) Espaço para texto relacionado ao Linkedin -->
            <p id="texto_voltar"></p><!-- (Javascript) Espaço para texto relacionado ao Voltar -->
            <form action="{% url 'portfolio_home' %}" method="post" id="texto_cmd">
                {% csrf_token %}
                <span>C:\Users\Visitante></span><!-- Token CSRF para segurança -->
                <input type="text" name="texto_codigo" id="codigo_input" class="codigo_input"> <!-- Prompt do terminal -->
                <span class="cursor"></span> <!-- Entrada de texto para comandos -->
            <p></p>
            Contatos: 
            <img src="https://cdn-icons-png.flaticon.com/256/174/174879.png" alt="" class="image_wpp">(47) 9 8807-1571
        </div>
        <script src="{% static 'js/script.js' %}"></script> <!-- Script JavaScript principal -->
        <script src="{% static 'js/help_script.js' %}"></script> <!-- Script JavaScript de ajuda -->
    </section> <!-- Fim da seção de área de conhecimento -->
    
</body>
</html>