body {
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
/*Cabeçalho do Portfólio*/
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Paragráfos sobre mim*/
.terminal {
    border: 2px solid white;
    padding: 7.5px;

}
.cursor {
    display: inline-block;
    width: 0.6em;
    height: 0.3em;
    background-color: white;
    animation: blink 1s infinite step-end;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
/*Imagem do wpp */
.image_wpp{
    width: 13.5px;
    height: 13.5px;
}
.codigo_input {
    font-family: 'Courier New', Courier, monospace;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    caret-color: transparent;
    width: 13px; /* Define a largura inicial do input */
    min-width: 10px; 
}

