{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio IAGO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'icon/favicon-32x32.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="cabecalho">
            <h1 id="portfolio"></h1> <!-- Título principal, será preenchido dinamicamente (Javascript) -->
        </div>
    </header>
    
    <section id="area_help"><!-- Início da seção de área de help -->
        <div class="terminal">
            <h1>Projetos realizados por mim</h1>
            <p>Portfolio Version [1.5]</p>
            <p>(c) IAGO LONGEN MENDONÇA Todos os direitos reservados.</p> <!-- Aviso de direitos autorais -->
            <p id="text_project">C:\Users\Visitante> </p> <!-- Texto será preenchido dinamicamente (Javascript) -->
            <div>
                <form action="{% url 'projects' %}" method="post" id="texto_cmd">
                {% csrf_token %} <!-- Token CSRF para proteção do formulário -->
                <p id="text_removeBG"></p>
                <p id="text_botReport"></p>
                <p id="text_estoque"></p>
                <p id="text_startupConnect"></p>
                <p id="error_message"></p>
                <span>C:\Users\Visitante></span> <!-- Texto estático -->
                <input type="text" name="texto_codigo" id="codigo_input" class="codigo_input"> <!-- Prompt do terminal -->
                <span class="cursor"></span> <!-- Entrada de texto para comandos -->
                </form>
            </div>
            <p></p>
            Contatos: 
            <img src="https://cdn-icons-png.flaticon.com/256/174/174879.png" alt="" class="image_wpp">(47) 9 8807-1571
        </div>
        <script src="{% static 'js/projects.js' %}"></script> 
        <script src="{% static 'js/script.js' %}"></script> <!-- Script JavaScript principal -->
      
    </section> <!-- Fim da seção de área de help -->
</body>
</html>